@import "tailwindcss";


@layer base{
    html, body, #root{
        @apply h-full w-full
    }
}


/* Custom cursors based on active tool */
.tool-arrow .react-flow__pane,
.tool-arrow .react-flow__node {
  cursor: crosshair !important;
}

.tool-rectangle .react-flow__pane,
.tool-rectangle .react-flow__node {
  cursor: crosshair !important;
}

.tool-ellipse .react-flow__pane,
.tool-ellipse .react-flow__node {
  cursor: crosshair !important;
}

.tool-select .react-flow__pane,
.tool-select .react-flow__node {
  cursor: url("/select-cursor.svg") 1 1, auto !important;
}

.tool-select .react-flow__node:active {
  cursor: url("/select-cursor.svg") 1 1, auto !important;
}
